absl-py==0.9.0
alabaster==0.7.12
albumentations==0.4.6
astunparse==1.6.3
backports.shutil-get-terminal-size==1.0.0
binaryornot==0.4.4
bkcharts==0.2
boto==2.49.0
cachetools==4.1.1
certifi==2021.10.8
clyent
comtypes==1.1.11
conda
conda-build
cytoolz==0.11.2
docopt==0.6.2
easyocr==1.3.2
et-xmlfile==1.0.1
facenet-pytorch==2.5.2
gast==0.3.3
glob2==0.7
google-auth==1.35.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.30.0
gTTS==2.2.3
gunicorn==20.1.0
HeapDict==1.0.1
intervaltree==3.0.2
ipython-genutils==0.2.0
jdcal==1.4.1
Js2Py==0.71
Keras==2.4.3
Keras-Preprocessing==1.1.2
labelImg==1.8.5
llvmlite==0.38.0
lmdb==1.0.0
locket==0.2.0
Markdown==3.2.2
mccabe==0.6.1
mediapipe==0.8.5
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
MouseInfo==0.1.3
multipledispatch==0.6.0
munkres==1.1.4
oauthlib==3.1.0
opencv-contrib-python==4.5.2.54
opencv-python
opencv-python-headless==4.5.3.56
opt-einsum==3.3.0
parso==0.7.0
pathtools==0.1.2
pep8==1.7.1
pipreqs==0.4.11
pipwin==0.5.1
playsound==1.2.2
plotly==4.9.0
ply==3.11
poyo==0.5.0
protobuf==3.12.4
pyarrow==2.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.52
pydub==0.25.1
pyflakes==2.2.0
PyGetWindow==0.0.9
pyjokes==0.6.0
pyjsparser==2.7.1
PyMsgBox==1.0.9
pyperclip==1.8.2
PyPrind==2.11.3
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQtChart==5.12
PyQtWebEngine==5.12.1
PyRect==0.1.4
PyScreeze==0.1.27
pySmartDL==1.3.4
PySoundFile==0.9.0.post1
pytest==7.1.0
python-bidi==0.4.2
python-dotenv==0.19.1
pyttsx3==2.90
PyTweening==1.0.3
pywhatkit==4.8
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.6
sacremoses==0.0.43
sentencepiece==0.1.91
Shapely==1.8.0
simplegeneric==0.8.1
SpeechRecognition==3.8.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
tables==3.7.0
termcolor==1.1.0
text-unidecode==1.3
thop==0.0.31.post2005241907
tokenizers==0.8.1rc2
torch==1.7.0
torchaudio==0.7.0
torchtoolbox==0.1.5
torchvision==0.8.1
tensorboard
transformers==3.1.0
tzlocal==2.1
unicodecsv==0.14.1
vis==0.0.5
wavio==0.0.4
webencodings==0.5.1
wget==3.2
wikipedia==1.4.0
wincertstore==0.2
xlwt==1.3.0
yarg==0.1.9
